 {% extends 'blog/base.html' %} {% block content %}


{% block body %}
<body class="signup-page">
  <nav class="navbar navbar-transparent navbar-absolute">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
            		<span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
        		</button>
        <a class="navbar-brand" href="http://cafe.naver.com/lovelink">네이버 카페연결</a>
      </div>

      <div class="collapse navbar-collapse" id="navigation-example">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="https://twitter.com/CreativeTim" target="_blank" class="btn btn-simple btn-white btn-just-icon">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/CreativeTim" target="_blank" class="btn btn-simple btn-white btn-just-icon">
              <i class="fa fa-facebook-square"></i>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/CreativeTimOfficial" target="_blank" class="btn btn-simple btn-white btn-just-icon">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>ƒ
  <div class="wrapper">
    <div class="header header-filter" style="background-image: url('../../static/img/city.jpg'); background-size: cover; background-position: top center;">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            <div class="card card-signup">

              <form class="form" method="post" action="{% url 'login' %}" role="form">{% csrf_token %}
                <div class="header header-primary text-center">
                  <h4>Sign Up</h4>
                  <div class="social-line">
                    <a href="#pablo" class="btn btn-simple btn-just-icon">
                      <i class="fa fa-facebook-square"></i>
                    </a>
                    <a href="#pablo" class="btn btn-simple btn-just-icon">
                      <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#pablo" class="btn btn-simple btn-just-icon">
                      <i class="fa fa-google-plus"></i>
                    </a>
                  </div>
                </div>
                <p class="text-divider">Or Be Classical</p>

                <div class="content">

                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="material-icons">face</i>
                    </span>
                        <select name="gender" class="select form-control" placeholder="Choose an option">
                            <option disabled selected class="disabled"> Choose gender</option>
                            <option value="M">Man</option>
                            <option value="W">Woman</option>
                        </select>
                  </div>

                  <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">today</i>
                    </span>
                    <input name="mate_date" type="text" class="datepicker form-control" id="date_picker"/>
                  </div>

                  <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">date_range</i>
                    </span>
                      <select name="mate_seq" class="select form-control" placeholder="select part">
                          <option disabled selected class="disabled"> Choose trial</option>
                          <option value="1">1st trial</option>
                          <option value="2">2nd trial</option>
                          <option value="3">3rd trial</option>
                      </select>
                  </div>

                  <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">phone</i>
                    </span>
                    <input name="phoneNumber" type="text" class="form-control" placeholder="Phone Number...">
                  </div>

                  <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">lock_outline</i>
                    </span>
                    <input name="password" type="password" placeholder="Password..." class="form-control" />
                  </div>

                  <div class="footer text-center">
                      <button type="submit" class="btn btn-simple btn-primary btn-lg">Get Started</button>
                  </div>

                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

        <footer class="footer">
            <div class="container">
                {% if alert %}
                    <div class="alert alert-danger">
                         <div class="container-fluid">
                             <div class="alert-icon">
                                <i class="material-icons">error_login</i>
                            </div>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"><i class="material-icons">clear</i></span>
                            </button>
                             <b>Error Alert:</b> Check!! Gender, Date, Phone_number annnnnnnnnd Password!!! Please
                        </div>
                    </div>
                {% endif %}
                <div class="copyright pull-right">
                    &copy; 2016, made with <i class="fa fa-heart heart"></i> by <a href="http://www.creative-tim.com"
                                                                                   target="_blank">Creative Tim</a>
                </div>
            </div>
        </footer>

    </div>

  </div>

    <script>
        $('#date_picker').datepicker().on('changeDate', function (e) {
            $(this).datepicker('hide');
        });
    </script>

</body>

{% endblock body %}


{% endblock %}